@font-face {
    font-family: "Shadows-Into-Light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ShadowsIntoLight-Regular.ttf") format("truetype"),
        url("../fonts/ShadowsIntoLight-Regular.woff2") format("woff2");
}
